<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create type</title>
    <link rel="stylesheet" href="/list.css">
</head>
<body>
<div class="container">
    <th:block th:insert="fragments/navigation :: main-menu"></th:block>
    <div>
        <form action="#" th:action="@{/order-create}" th:object="${order}" method="post">

            <label for="customer_choice">Выберите покупателя</label>
            <input class="form-control col-md-5" list="customers_list" id="customer_choice" placeholder="Найти клиента ">
            <datalist id="customers_list" th:name="customers_list">
                <option
                    th:each="customer : ${customers}"
                    th:data-value="${customer}"
                    th:text="${customer.name +' '+ customer.surname}">
                </option>
            </datalist>
<!--            <input type="hidden" th:field="*{customer.customerid}" class="form-control" id="customerId"-->
<!--                   placeholder="customerId">-->
            <br/>
            <table th:id="productTable">
                <input type="hidden" th:id="productNumber" th:value="1">
                <tr>
                    <td>
                        <select th:class="form-control" th:id="products" th:name="products"
                                th:data-name="productSelector">
                            <option value="">Выберите товар...</option>
                            <option th:each="product : ${products}"
                                    th:value="${product}"
                                    th:text="${product.productName}">
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="number" th:class="form-control" th:id="productAmount" th:value="1">
                    </td>
                </tr>

            </table>

            
            <input type="submit" value="Создать заказ" class="btn">
        </form>
    </div>
</div>
</body>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--<script type="text/javascript">-->
<!--    $(document).ready(function () {-->
<!--        console.log("ready!");-->
<!--    });-->
<!--    $(document).ready(function () {-->
<!--        $("#selectCategory").change(function () {-->
<!--            $("#categoryId").val($("#selectCategory option:selected").attr("category-id"));-->
<!--        });-->
<!--    });-->
<!--</script>-->
</html>