<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create order</title>
    <link rel="stylesheet" href="/style9.css">
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">-->
</head>
<body>
<th:block th:insert="fragments/menu :: menu"></th:block>
<div class="container">
    <div>
        <form action="#" th:action="@{/order-create}" th:object="${order}" method="post">

            <label for="customer_list">Выберите клиента</label>
            <select th:name="customer" id="customer_list">
                <option th:each="customer:${customers}"
                        th:value="${customer.id}"
                        th:text="${customer.name +' '+ customer.surname}">
                </option>
            </select>
            <br/>

            <div th:id="productSelectContainer">
                <label>Выберите продукт</label>
                <br>
                <div class="addProductClass" th:id="addProduct0">
                    <select class="productSelectClass" th:field="*{orderDetails[0].product.id}" th:name="productSelectList" th:id="productSelectList0">
                        <option value="">Выберите товар</option>
                        <option th:each="product:${products}"
                                th:value="${product.id}"
                                th:text="${product.productName}">
                        </option>
                    </select>
                    <label>Количество</label>
                    <input type="text" class="productAmountClass" th:field="*{orderDetails[0].productAmount}"
                           id="productAmount0" placeholder="Кол-во">
                </div>
            </div>

            <label for="deliveryAddress">Адрес</label>
            <input type="text" th:field="*{deliveryAddress}" id="deliveryAddress" placeholder="Адрес доставки">
            <br/>
<!--            <label for="employee_list">Выберите работника</label>-->
<!--            <select th:name="employee" id="employee_list">-->
<!--                <option th:each="employee:${employees}"-->
<!--                        th:value="${employee.id}"-->
<!--                        th:text="${employee.name}">Товар-->
<!--                </option>-->
<!--            </select>-->
            <br/><br/>


            <input type="submit" value="Создать заказ" class="btn">
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log("doc_ready")
        $("#productSelectContainer .productSelect:last").change(function () {
            console.log("enterSelect")
            var oldId = $("#productSelectContainer .productSelect:last-child").attr("ID");
            console.log(oldId)
            var selName = "productSelectList";
            var num = Number(oldId.substring(selName.length)) + 1;
            var newId = selName + num;
            var br = document.createElement('br');
            var newSelect = $(".productSelect:last-child").clone(true, true).attr("ID", newId);
            $("#productSelectContainer").append(br);
            $("#productSelectContainer").append(newSelect);

        })
    })

    // $(document).ready(function () {
    //         console.log("docready")
    //         $("#rootDiv").on('change', 'select', function () {   // с change не работает(    неа     там есть реально проще и поле пихать не надо будет наверное. Ну вот пока так, топорно.
    //             console.log("changeLog")
    //             let productNum = $('#productNumber').val();                                  //тут считываю с поля, поле hidden
    //             let prodNum = "productSelectList" + productNum;
    //             if (this.id == prodNum) {
    //                 $('#productNumber').val(Number($('#productNumber').val()) + 1);
    //                 let productNum = $('#productNumber').val();
    //                 let prodName = "productSelectList" + productNum;
    //                 let div = document.createElement('div');
    //                 let root = document.querySelector("#rootDiv");
    //                 $('select#productSelectList1').clone().attr('id', prodName).appendTo(div); //берем этот селект и клонируем присваивая ему id "productSelectList2"
    //                 root.appendChild(div);
    //
    //             }
    //
    //             // $("#productSelectContainer").append('<br>')
    //         })
    //     }
    // )
</script>
</body>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--<script type="text/javascript">-->
<!--    $(document).ready(function () {-->
<!--        console.log("ready!");-->
<!--    });-->
<!--    $(document).ready(function () {-->
<!--        $("#selectCategory").change(function () {-->
<!--            $("#categoryId").val($("#selectCategory option:selected").attr("category-id"));-->
<!--        });-->
<!--    });-->
<!--</script>-->
</html>