<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<div class="container">
    <th:block th:insert="fragments/navigation :: main-menu"></th:block>

    <div th:switch="${orders}">
        <h2 th:case="null">Неть заказов</h2>
        <div th:case="*">
            <h2>Список заказов</h2>
            <table>
                <thead>
                <tr>
                    <th>ID заказа</th>
                    <th>Дата</th>
                    <th>Клиент</th>
                    <th>Адрес</th>
                    <th>Продавец</th>
                    <th>Стоимость</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.actionDateTime}"></td>
                    <td th:text="${order.customer.name + ' ' + order.customer.surname}"></td>
                    <td th:text="${order.deliveryAddress}"></td>
                    <td th:text="${order.employee.name}"></td>
                    <td th:text="${order.orderCost}"></td>
                    <td th:text="${order.orderStatus}"></td>
                    <td><a th:href="@{order-update/{id}(id=${order.id})}" class="btn">Редактировать </a></td>
                    <td><a th:href="@{order-details/{id}(id=${order.id})}" class="btn">Подробнее </a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/order-create">Создать заказ</a></p>
        <p><a href="/" class="btn">Назад</a></p>
    </div>
</div>
</body>
</html>