<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Change parameter details</title>
</head>
<body>

<form th:action="@{/parameters/{id}(id=${parameter.getId})}" th:method="PATCH" th:object="${parameter}">

    <label for="Name">Name:</label>
    <input type="text" th:field="*{name}" id="Name">

    <br>
    <p>
        <label for="string">String parameter:</label>
        <input type="radio" th:field="*{valueType}" th:value="true" id="string"/>
    </p>
    <p>
        <label for="int">Integer parameter:</label>
        <input type="radio" th:field="*{valueType}" th:value="false" id="int"/>
    </p>

    <input type="submit" value="Change parameter details">
</form>

</body>
</html>