<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parameters List</title>
</head>
<body>

<div th:switch="${parameters.size()}">
    <p th:case="0">List is empty</p>
    <div th:case="*">
<div>
    <h2>Parameters</h2>
    <table>
        <thead>
        <tr>
            <th>Parameter Id</th>
            <th>Name</th>
            <th>ValueType</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "parameter: ${parameters}">
            <td th:text = "${parameter.id}">Parameter id</td>
            <td><a th:href = "@{/parameters/{name}(name=${parameter.getName()})}" th:text = "${parameter.name}">Parameter Name</a></td>
            <td th:text = "${parameter.valueType}">valueType</td>
            <td><a th:href = "@{/parameters/{id}/edit(id = ${parameter.id})}">Update</a></td>
            <td><a th:href = "@{/parameters/{id}/delete(id = ${parameter.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
    </div>
    <br>
    <hr>
    <p><a href="/parameters/new">Create parameter</a>
    <p><a href="/index">Back to main</a></p>
</div>
</body>
</html>