<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>${serviceMessage}</title>
</head>
<body>

<form th:action="@{/emails/{id}(id=${email.getId})}" th:method="PATCH" th:object="${email}">

    <table>
        <thead>
        <tr>
            <th>Email Id</th>
            <th>Date</th>
            <th>Message</th>
            <th>Customer Id</th>
            <th>Products</th>
            <th>Employee Id</th>
            <th>Sending status</th>
        </tr>
        </thead>

        <tbody>

        <td th:text = "${email.getId()}"></td>
        <td>
            <label for="Date">Date:</label>
            <input readonly="readonly" id="Date" type="text" th:field="*{date}">
        </td>

        <td>
            <label for="Message">Message:</label>
            <input id="Message" type="text" th:field="*{message}">
        </td>
        <td>
            <label for="Customer">Customer:</label>
            <input id="Customer" type="text" th:field="*{customer}">
        </td>
        <td>
            <ul>
                <th:block th:each="product : ${email.products}">
                    <li th:utext="${product.getId()}"></li>
                </th:block>
            </ul>
        </td>
        <!--            todo сделать добавление продуктов-->
        <td>
            <label for="Employee">Employee:</label>
            <input id="Employee" type="text" th:field="*{employee}">
        </td>
        <td th:text = "${email.send}"></td>

        </tbody>
    </table>

    <input type="submit" value="Change email details">
</form>

</body>
</html>