<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Creating Form</title>
</head>
<body>
<h1>Creating form</h1>

<form th:action="@{/emails}" th:method="POST" th:object="${email}">

    <label for="Message">Текст письма:</label>
    <input id="Message" type="text" th:field="*{message}">

    <br>

    <label for="product_list">Выберите продукт</label>
    <select th:name="product" id="product_list" th:field="*{product.id}">
        <option th:each="product:${productList}"
                th:value="${product.id}"
                th:text="${product.name}">
        </option>
    </select>

    <input type="submit" value="Add email">
</form>
<hr>
<p><a href="/emails">Back to e-mail list</a></p>

</body>
</html>