<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creating Form</title>
</head>
<body>
<h1>Creating form</h1>

<form th:action="@{/emails}" th:method="POST" th:object="${email}">
    <label for="Date">Date:</label>
    <input type="text" th:field="*{date}" id="Date">

    <br>

    <label for="Message">Message:</label>
    <input id="Message" type="text" th:field="*{message}">

    <br>

    <input type="submit" value="Add email">
</form>
<hr>
<p><a href="/emails">Back to e-mail list</a></p>

</body>
</html>