body {
    font-family: Arial, Verdana,  sans-serif;
    font-size: 15pt;
    background-color: cornsilk;
    color: #333;
}
h2 {
    color: darkolivegreen;
    text-align: center;
}
table {
    margin: auto; /*по центру*/
}
th, td {
    border: 1px solid grey;
}
.btn {
    display: inline-block;
    background: darkolivegreen;
    color: cornsilk;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    border-radius: 3px;
}
div {
    text-align: center;
}