<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Creating Form</title>
</head>
<body>
<h1>Creating form</h1>

<form th:action="@{/employees}" th:method="POST" enctype="multipart/form-data" th:object="${employee}">
    <label for="Name">Name:</label>
    <input type="text" th:field="*{name}" id="Name">

    <br>

    <label for="Username">Username:</label>
    <input id="Username" type="text" th:field="*{username}">

    <br>

    <label for="Password">Password:</label>
    <input id="Password" type="text" th:field="*{password}">

    <br>

    <label for="Email">Email:</label>
    <input id="Email" type="text" th:field="*{email}">

    <br>

    <label for="PhoneNumber">Phone Number:</label>
    <input id="PhoneNumber" type="text" th:field="*{phoneNumber}">

    <br>

<!--    <label>Photo:</label>-->
<!--    <input name="file" type="file" th:field="*{photo}">-->
<!--    <div>-->
<!--        <#if employee.filename??>-->
<!--            <img src="/img/${employee.filename}">-->
<!--        </#if>-->
<!--    </div>-->

    <br>

    <input type="submit" value="Add employee">
</form>

</body>
</html>