<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create type</title>
  <link rel="stylesheet" href="/list.css">
</head>
<body>
<div class="container">
    <th:block th:insert="fragments/navigation :: main-menu"></th:block>
    <div>
        <form action="#" th:action="@{/type-create}" th:object="${productType}" method="post">
            <label for="product_type_name">Name</label>
            <input type="text" th:field="*{productTypeName}" id="product_type_name" placeholder="Введите тип">
            <br/>
            <label for="product_type_description">Description</label>
            <input type="text" th:field="*{productTypeDescription}" id="product_type_description" placeholder="Введите описание">
            <br/>
            <label>Category</label>
            <select th:name="category">
                <option th:each= "category: ${category}"
                th:value="${category.id}"
                th:text="${category.categoryName}">

                </option>
            </select>
            <br/>
            <input type="submit" value="Create Type" class="btn">
        </form>
    </div>
</div>
</body>

</html>