<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавить клиента</title>
    <link rel="stylesheet" href="/list.css">
</head>
<body>
<div class="container">
    <th:block th:insert="fragments/navigation :: main-menu"></th:block>
    <div class="container">
        <form action="#" th:action="@{/customer-create}" th:object="${customer}" method="post">
            <label for="name">Имя</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Введите имя">
            <br>
            <label for="surname">Фамилия</label>
            <input type="text" th:field="*{surname}" id="surname" placeholder="Введите фамилию">
            <br>
            <label for="age">Возраст</label>
            <input type="text" th:field="*{age}" id="age" placeholder="Введите возраст">
            <br>
            <label for="email">Почта</label>
            <input type="email" th:field="*{email}" id="email" placeholder="adress@domen.com">
            <br>
            <label for="phoneNumber">Телефон</label>
            <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Введите номер телефона">
            <br>
            <input type="submit" value="Добавить клиента">
        </form>
    </div>
</div>
</body>
</html>