<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
    <meta charset="utf-8">
    <title>Personality</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

    <body>
        <div class ="container_gif">
            <th:block th:insert="fragments/menu :: menu"></th:block>
            <h1>Лавка Каджита</h1>
                <div class="boxInbox">
                    <div class="beauty_box">
                        <div class="beauty">
                            <marquee behavior="alternate" direction="right" scrollamount="10" >
                                <img src = "/image/1.jpg" alt="1">
                                <img src = "/image/1_1.jpg" alt="1_1">
                                <img src = "/image/2.jpg" alt="2">
                                <img src = "/image/2_2.png" alt="2_2">
                                <img src = "/image/3.jpg" alt="3">
                                <img src = "/image/3_3.jpg" alt="3_3">
                                <img src = "/image/4.jpg" alt="4">
                                <img src = "/image/4_4.jpg" alt="4_4">
                                <img src = "/image/5.jpg" alt="5">
                                <img src = "/image/5_5.jpg" alt="5_5">
                                <img src = "/image/6.jpg" alt="6">
                                <img src = "/image/6_6.jpg" alt="6_6">
                            </marquee>
                        </div>
                    </div>
                </div>
            <div class="center_image"><img src = "/image/Dane_png1.png" alt="Цветы кофе и Степан" width="780" height="154"></div>

            <footer><p>У каджита есть товар, если у тебя есть монеты, друг!</p></footer>
        </div>
    </body>
</html>