<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
    <meta charset="utf-8">
    <title>Personality</title>
    <link rel="stylesheet" href="/style9.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
<div class ="container_gif">
    <th:block th:insert="fragments/menu :: menu"></th:block>
    <h1> Hello, user!</h1>
</div>
</body>
</html>