<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Sign in</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class ="container">
<!--    <div th:if="${param.error}">-->
<!--        Invalid username and password.-->
<!--    </div>-->
<!--    <div th:if="${param.logout}">-->
<!--        You have been logged out.-->
<!--    </div>-->
    <div class="top">
        <h1>Авторизация</h1>
    </div>

    <div class="left">
        <img src = "/image/coffee.png" width="180" height="190" alt ="кофеёчек">
    </div>
    <div class="right">
        <img src = "/image/flowers.png" width="122" height="190" alt ="цветошки">
    </div>

    <div class="center">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post" id="database">
            <p><input type="text" name="username"
                                        placeholder="Логин" autofocus="true"/></p>
            <p><input type="password" name="password" placeholder="Пароль"/></p>
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
            <a th:href="@{/registration}">Зарегистрироваться</a>
               <br/>
                <button type="submit">Войти</button>
        </form>
    </div>
</div>

<!--<a th:href="@{/registration}">Add new employee</a>-->
</body>
</html>