<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create manufacturer</title>
  <link rel="stylesheet" href="/list.css">
</head>
<body>
<form action="#" th:action="@{/manufacturer-create}" th:object="${manufacturer}" method="post">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="Введите наименование">
  <br/>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email" placeholder="Введите почту">
  <br/>
  <label for="phone_number">Phone number</label>
  <input type="text" th:field="*{phoneNumber}" id="phone_number" placeholder="Введите номер телефона">
  <br/>

  <input type="submit" value="Create Manufacturer" class="btn">
</form>
</body>
</html>