<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/list.css">

</head>
<body>
<div class="container">
    <th:block th:insert="fragments/navigation :: main-menu"></th:block>
    <div th:switch="${products}">
        <h2 th:case="null">No products found!</h2>
        <div th:case="*">
            <h2>Products</h2>
            <table>
                <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Manufacturer Id</th>
                    <th>Product Quantity</th>
                    <th>Product Subtype Id</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <!--                            ПОЛЯ КЛАССА!!!!-->
                    <td th:text="${product.productId}"></td>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.manufacturerId.getName()}"></td>
                    <td th:text="${product.productQuantity}"></td>
                    <td th:text="${product.productSubtypeId}"></td>

                    <td><a th:href="@{product-update/{id}(id=${product.productId})}" class="btn">Edit</a></td>
                    <td><a th:href="@{product-delete/{id}(id=${product.productId})}" class="btn">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/product-create" class="btn">Create products</a></p>
        <p><a href="/" class="btn">Back</a></p>
    </div>
</div>
</body>
</html>