<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product with params</title>
    <link rel="stylesheet" href="/list.css">
</head>
<body>
<div>
<p th:text="${product.getProductName()}">value</p>
<p th:text="${product.getId()}">value</p>
</div>
<div>
    <h2>Parameters with values</h2>
    <table>
        <thead>
        <tr>
            <th>Parameter name</th>
            <th>String value</th>
            <th>Int value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "paramVal: ${product.getParameterValues()}">
            <td th:text = "${paramVal.getParameter().getName()}"></td>
            <td th:text = "${paramVal.getStringValue}"></td>
            <td th:text = "${paramVal.getIntValue}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div>

    <button>Добавить</button><br>
    <div th:id="formContainer">
    <form th:action="@{/products/{productId}(productId=${product.getProductId})}"
          th:method="POST" th:object="${prodparamvalue}" id="form1">

        <div th:id="parametrSelectContainer">
        <select th:class="form-control" th:name="selectParameter" th:id="selectParameter">
            <option value="default">Select parameter</option>
            <option th:each="parameter: ${parameters}"
                    th:value="${parameter}"
                    th:text="${parameter.name}"
                    th:data-name="${parameter.name}">
            </option>
        </select>
        </div>

        <input type="hidden" th:field="*{parameter.name}" class="form-control" id="parameterName" placeholder="parameterName">

        <br>
        <label for="string">String parameter:</label>
        <input type="text" th:field="*{stringValue}" id="string"/>
        <br>
        <label for="int">Integer parameter:</label>
        <input type="text" th:field="*{intValue}" id="int"/>
        <br>
    </form>

</div>
    <button type="submit" form="form1">Add parameter details</button>
</div>
<div>
<a href="/index">Back to main</a>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        $("button").click(function(){
            console.log("Работает селект");
            $("#parameterName").val($("#selectParameter option:selected").attr("data-name"));
            console.log("Работает клонирование формы");
            $("form:first").clone(true)
                .appendTo("#formContainer");
        });
    });



    // $(document).ready(function () {
    //     console.log("ready!");
    // });
    // $(document).ready(function () {
    //     console.log("docready!");
    //     $("#parametrSelectContainer").change(function () {
    //         console.log("selchanged!");
    //         // var oldId = $("#parametrSelectContainer.form-control.last-child").id;
    //         var oldId = this.id;
    //         var indexstr = "selectParameter";
    //         var newIdNumber = Number(oldId.substring(indexstr.length)) + 1;
    //         let newId = indexstr + newIdNumber;
    //         console.log(newId)
    //         let br = document.createElement('br');
    //
    //
    //         // let newSelect = $("#parametrSelectContainer").clone().append($("#" + newId));
    //         // let newSelect = $(".form-control").clone().attr("id", newId);
    //         // let newSelect = $("#selectParameter1 option:selected").clone().attr("id", newId);
    //         let newSelect = $('select#selectParameter1').clone().attr("id", newId);
    //             // .form-control
    //         $(".form-control").after(newSelect);
    //         $(".form-control").after(br);
    //     });
    // });




    // $('select#options').clone().attr('id', 'newOptions').appendTo('.blah');
        //
        // let newSelect = $('select#productSelectList1').clone().attr("id", newId);
        // $(".productSelect").after(newSelect);
        // $(".productSelect").after(br);


    //         $("#parameterName").val($("#selectParameter1 option:selected").attr("data-name"));
    //     });
    // });

</script>
</html>