<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product with params</title>
    <link rel="stylesheet" href="/list.css">
</head>
<body>
<div>
<p th:text="${product.getProductName()}">value</p>
<p th:text="${product.getProductId()}">value</p>
</div>
<div>
    <h2>Parameters with values</h2>
    <table>
        <thead>
        <tr>
            <th>Parametr name</th>
            <th>String value</th>
            <th>Int value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "paramval: ${product.getParameterValues()}">
            <td th:text = "${paramval.getParameter().getName()}"></td>
            <td th:text = "${paramval.getStringValue}"></td>
            <td th:text = "${paramval.getIntValue}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <form th:action="@{/products/{productId}(productId=${product.getProductId})}"
          th:method="POST" th:object="${prodparamvalue}">

        <select th:class="form-control" th:name="selectParameter" th:id="selectParameter">
            <option value="default">Select parameter</option>
            <option th:each="parameter: ${parameters}"
                    th:value="${parameter}"
                    th:text="${parameter.name}"
                    th:data-name="${parameter.name}">
            </option>
        </select>

        <input type="hidden" th:field="*{parameter.name}" class="form-control" id="parameterName"
               placeholder="parameterName">manufacturer
        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>

        <br>

        <label for="string">String parameter:</label>
        <input type="text" th:field="*{stringValue}" id="string"/>

        <br>

        <label for="int">Integer parameter:</label>
        <input type="text" th:field="*{intValue}" id="int"/>

        <br>

        <input type="submit" value="Add parameter details">
    </form>

</div>
<div>
<a href="/index">Back to main</a>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log("ready!");
    });
    $(document).ready(function () {
        $("#selectParameter").change(function() {
            $("#parameterName").val($("#selectParameter option:selected").attr("data-name"));
        });
    });

</script>
</html>