<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create supplies</title>
  <link rel="stylesheet" href="/list.css">
</head>
<body>
<form action="#" th:action="@{/supplies-create}" th:object="${supplies}" method="post">
  <label>Manufacturer Id</label>
  <select th:name="manufacturer"> // имя поля класса!
    <option th:each= "manufacturer: ${manufacturer}"
            th:value="${manufacturer.id}"
            th:text="${manufacturer.name}">
    </option>
  </select>
  <br/>
  <input type="submit" value="Create Supplies" class="btn">
</form>
</body>
</html>