<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Update supplies</title>
  <link rel="stylesheet" href="/list.css">
</head>
<body>
<form action="#" th:action="@{/supplies-update}" th:object="${supplies}" method="post">
  <label for="supplies_id">ID</label>
  <input readonly type="number" th:field="*{id}" id="supplies_id" placeholder="ID">
  <br/>
  <label for="supplies_date">Date</label>
  <input readonly type="text" th:field="*{suppliesDate}" id="supplies_date" placeholder="Введите дату">
  <br/>
  <label>Manufacturer</label>
  <select th:name="manufacturer"> // имя поля класса!
    <option th:each= "manufacturer: ${manufacturer}"
            th:value="${manufacturer.id}"
            th:text="${manufacturer.name}"
            th:selected="${supplies.manufacturer.id == manufacturer.id}">
    </option>
  </select>
  <br/>

  <input type="submit" value="Update supplies" class="btn">
</form>
</body>
</html>