<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактировать клиента</title>
    <link rel="stylesheet" href="/style9.css">
</head>
<body>
<th:block th:insert="fragments/menu :: menu"></th:block>
<div class="container">
    <div>
        <form action="#" th:action="@{/employees/customers/update/{id}(id=${customer.id})}" th:object="${customer}" th:method="PATCH">
            <input type="hidden" th:field="*{id}">
            <label for="name">Имя</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name">
            <br/>
            <label for="surname">Фамилия</label>
            <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
            <br/>
            <label for="age">Возраст</label>
            <input type="number" th:field="*{age}" id="age" placeholder="Age">
            <br/>
            <label for="email">ЭЭлектронная почта</label>
            <input type="text" th:field="*{email}" id="email" placeholder="Email">
            <br/>
            <label for="phoneNumber">Фамилия</label>
            <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Phone Number">
            <br/>
            <input type="submit" value="Update customer">
        </form>
    </div>
</div>
</body>
</html>