<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Orders History</title>
		<link rel="stylesheet" href="style9.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<div class ="container">
			<div class="top">
				<h1>История заказов</h1>
			</div>		
				<div class="main">
					<form action="search_mailing.php">
						<p><input type=search placeholder="Поиск заказов">
						<input type="submit" value="Искать"></p>
					</form>
			<table width="1022px"; height="380px">
			   <tr><th class="num" width="4%">№</th><th class="date">Дата</th><th class="buy" width="25%">Клиент</th><th class="ord">Заказ</th><th class="add">Адрес доставки</th><th class="man" width="25%">Менеджер</th></tr>
			   <tr><th>1</th><th></th><th></th><th></th><th></th><th></th></tr>
			   <tr><th>2</th><th></th><th></th><th></th><th></th><th></th></tr>
			   <tr><th>3</th><th></th><th></th><th></th><th></th><th></th></tr>
			   <tr><th>4</th><th></th><th></th><th></th><th></th><th></th></tr>
			   <tr><th>...</th><th></th><th></th><th></th><th></th><th></th></tr>
			</table>
			</div>
		</div>
	</body>
	</html>