<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Personality</title>
		<link rel="stylesheet" href="style9.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<div class ="container">
			<div class="top">
				<h1>Личный кабинет</h1>
			</div>		
				<div class="main2">
				<div class="layer1top_2">
				<h4>Карточка менеджера :</h4>
						<p class="p2">ФИО</p>
						<p class="p2">телефон</p>
						<p class="p2">Кол-во заказов</p>	   
					</div>
					<div class="layer2top_2">
						<div class ="fotoclient2"><img src = "clientempty2.png" alt ="клиент"></div>
					</div>
					</div>
					<div class="center_2">
					<div class="layer1down_2"><!-- слева первый -->
					<h2>Клиенты</h2>
						<form action="search_client.php">
						<p class="search2"><input type=search placeholder="Поиск клиентов">
						<input type="submit" value="Искать"></p>
						</form>
						<div class="clientsbox"></div>
					</div>
					
					<div class="layer2down_2"><!-- справа первый -->
					<h2>Товары</h2>
						<form action="search_products.php">
						<p class="search2"><input type=search placeholder="Поиск товаров">
						<input type="submit" value="Искать"></p>
						</form>
						<div class="productsbox"></div>
					</div>
					
					<div class="layer1_2_down_2"><!-- слева второй -->
					<p class="small_but">Добавить нового клиента</p>
					</div>
					
					<div class="layer2_2_down_2"><!-- справа второй -->
					<p class="small_but">История рассылок</p>
					</div>
					
					<div class="layer1_3_down_2"><!-- слева третий -->
					
					</div>
					
					<div class="layer2_3_down_2"><!-- справа третий -->
					<p class="small_but">История заказов клиентов менеджера</p>
					</div>
					</div>


		</div>
	</body>
	</html>