<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ordering</title>
		<link rel="stylesheet" href="style9.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<div class ="container">
			<div class="top">
				<h1>Оформление заказа</h1>
			</div>		
					<div class="center_4">
					<div class="layer_left_4"><!-- справа первый -->
					<h2>Товары</h2>
						<form action="search_products.php">
						<p class="search2"><input type=search placeholder="Поиск товаров">
						<input type="submit" value="Искать"></p>
						</form>
						<div class="productsbox_4"></div>
						<div class="product_recommendations">
						<h2>Рекомендации товаров</h2>
						<div class="product_of_recommendations"></div>
						</div>
						<button type="submit" class ="addtocart">Добавить в корзину</button>
					</div>
					<div class="layer_right_4">
						<h2>Корзина :</h2>
						<div class="products_cart"></div>
					</div>	
					<button type="submit" class ="create_an_order_4">Сформировать заказ</button>
					</div>


		</div>
	</body>
	</html>