<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Registration</title>
		<link rel="stylesheet" href="style9.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
	</head>
	
	<body>
	<th:block th:insert="fragments/menu :: menu"></th:block>
		<div class ="container">
			<div class="top">
				<h1>Регистрация нового клиента</h1>
			</div>		
				<div class="main5">
				<div class="layer1">
				<h4>Данные клиента :</h4>
					<form id="infoclientreg">
							<p class="p5"><input name="name" type="text" placeholder="ФИО" autofocus="true"/></p>
							<p class="p5"><input name="address" type="text" placeholder="Адрес" autofocus="true"/></p>
							<p class="p5"><input name="email" type="text" placeholder="Почта" autofocus="true"/></p>
							<p class="p5"><input name="phone" type="text" placeholder="Телефон" autofocus="true"/></p>
							<p class="p5"><input name="manager" type="text" placeholder="Менеджер" autofocus="true"/></p>
							</form>	   
					</div>
					<div class="layer2">
						<div class ="fotoclient"><img src = "clientempty.png" alt ="клиент"></div>
						<button type="submit" class ="addclient">Добавить клиента</button>
					</div>
				
				</div>
			<button type="submit" class ="fivedown">Сделать заказ</button>
		</div>
	</body>
	</html>