<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Info order</title>
		<link rel="stylesheet" href="style9.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
	</head>
	
	<body>
	<th:block th:insert="fragments/menu :: menu"></th:block>
		<div class ="container">
			<div class="top">
				<h1>Информация о заказе</h1>
			</div>		
				<div class="main">
					<p>Информация о клиенте :</p>
					<div class="infoclient"></div>
					<p>Информация о заказе :</p>
					<div class="infoorder"></div>
					<button type="submit">Подтвердить заказ</button>
				</div>
		</div>
	</body>
	</html>