<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
		<meta charset="utf-8">
		<title>Card Product</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/style9.css">
</head>
	<body>
		<div class ="container">
			<div class="top">
				<h1>Карточка товара</h1>
			</div>		
				<div class="center_4">
					<div class="layer_left_7">
						<div class="foto_7"></div>
						<div class="characteristics"><h2 class="characteristics_text">Характеристики товара</h2></div>
					</div>
					<div class="layer_right_7">
						<h2>Информация о товаре :</h2>
						<div class="products_cart">
							<table>
								<thead>
								<tr>
									<th>Product Id</th>
									<th>Product Name</th>
									<th>Product Description</th>
									<th>Manufacturer</th>
									<th>Product Quantity</th>
									<th>Product Subtype</th>

								</tr>
								</thead>
								<tbody>
								<tr th:each="product : ${products}">
									<!--                            ПОЛЯ КЛАССА!!!!-->
									<td th:text="${product.id}"></td>
									<td th:text="${product.productName}"></td>
									<td th:text="${product.description}"></td>
									<td th:text="${product.manufacturer.name}"></td>
									<td th:text="${product.productQuantity}"></td>
									<td th:text="${product.productSubtype.productSubtypeName}"></td>

									<td><a th:href="@{product-update/{id}(id=${product.id})}" class="btn">Edit</a></td>
									<td><a th:href="@{product-delete/{id}(id=${product.id})}" class="btn">Delete</a></td>
								</tr>
								</tbody>
							</table>


						</div>

						<div class="customer_references"><h2>Рекомендации клиентов :</h2><div class="customer_references_text"></div></div>
					<div class="knopka"><button type="submit" class ="create_mailing">Сформировать рассылку</button></div>	
					</div>
					</div>
				</div>
		</div>
	</body>
</html>