<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>E-mail delivery</title>
		<link rel="stylesheet" href="style8.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
	</head>
	<body>
	<th:block th:insert="fragments/menu :: menu"></th:block>
		<div class ="container">
			<div class="top">
				<h1>Рассылка почты</h1>
			</div>			
				<div class="center">
					<div class="layer1">
					   <h1>Текст письма</h1>
							<ul>
								<li>Приветствие</li>
								<li>Наши рекомендации</li>
								<li>Контакты менеджера</li>
							</ul>
					</div>
					<div class="layer2">
						<h1>Список клиентов</h1>
							<ul>
								<li>Клиент 1</li>
								<li>Клиент 2</li>
								<li>Клиент 3</li>
							</ul>
					</div>		
				</div>
		<button><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">Расслабся</a></button>
	</body>
	
	</html>