<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Mailing history</title>
		<link rel="stylesheet" href="style9.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
	</head>
	
	<body>
	<th:block th:insert="fragments/menu :: menu"></th:block>
		<div class ="container">
			<div class="top">
				<h1>История рассылок</h1>
			</div>		
				<div class="main">
					<form action="search_mailing.php">
						<p><input type=search placeholder="Поиск рассылок">
						<input type="submit" value="Искать"></p>
					</form>
			<table width="1022px"; height="380px">
			   <tr><th>№</th><th>Дата</th><th>Товар</th><th>Список клиентов</th><th>Менеджер</th></tr>
			   <tr><th>1</th><th></th><th></th><th></th><th></th></tr>
			   <tr><th>2</th><th></th><th></th><th></th><th></th></tr>
			   <tr><th>3</th><th></th><th></th><th></th><th></th></tr>
			   <tr><th>4</th><th></th><th></th><th></th><th></th></tr>
			   <tr><th>. . .</th><th></th><th></th><th></th><th></th></tr>
			</table>
			</div>
		</div>
	</body>
	</html>