<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update product</title>
    <link rel="stylesheet" href="/style9.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<th:block th:insert="fragments/menu :: menu"></th:block>
<div class="container">
    <div>
        <form action="#" th:action="@{/product/update/{id}(id=${product.id})}" th:object="${product}" method="post">
            <!--            <label for="product_id">ID</label>-->
            <div>
                <input type="hidden" th:field="*{id}" id="product_id" placeholder="ID">
                <br/>
                <label for="product_name">Name</label>
                <input type="text" th:field="*{productName}" id="product_name" placeholder="Введите наименование">
                <br/>
                <label for="description">Description</label>
                <input type="text" th:field="*{description}" id="description" placeholder="Введите описание">
                <br/>
                <label>Manufacturer ID</label>
                <select th:name="manufacturer"> // имя поля класса!
                    <option th:each="manufacturer: ${manufacturer}"
                            th:value="${manufacturer.id}"
                            th:text="${manufacturer.name}"
                            th:selected="${product.manufacturer.id == manufacturer.id}">
                    </option>
                </select>
                <br/>
                <label for="product_quantity">Quantity</label>
                <input type="text" th:field="*{productQuantity}" id="product_quantity" placeholder="Введите количество">
                <br/>
                <label>Subtype ID</label>
                <select th:name="productSubtype"> // имя поля класса!
                    <option th:each="subtype: ${subtype}"
                            th:value="${subtype.id}"
                            th:text="${subtype.productSubtypeName}"
                            th:selected="${product.productSubtype.id == subtype.id}">
                    </option>
                </select>
            </div>
            <br/>
            <input type="submit" value="Update Product" class="btn">
        </form>
    </div>
</div>
</body>
</html>